[submodule "PokeBot/deps/sleepy-discord"]
	path = PokeBot/deps/sleepy-discord
	url = https://github.com/yourWaifu/sleepy-discord.git
[submodule "PokeBot/deps/VisualLeakDetector"]
	path = PokeBot/deps/VisualLeakDetector
	url = https://github.com/KindDragon/vld.git
